@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small tasteful defaults */
html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

/* Better focus rings */
:focus-visible {
  outline: 2px solid theme(colors.brand.400);
  outline-offset: 2px;
}


